<!-- phpunit.xml.dist -->
<phpunit
    bootstrap="Tests/bootstrap.php"
    colors="true">
    <php>
        <ini name="error_reporting" value="-1" />
        <server name="KERNEL_CLASS" value="GGGGino\WordBundle\Tests\app\AppKernel" />
    </php>
    <testsuites>
        <testsuite name="WordBundle Test Suite">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
